<article class="quest">
	<header>
		<h2>#{{quest.data.shortUuid}} {{quest.data.name}}</h2>
	</header>
	<section class="description">
		<header>
			<h3>DESC:</h3>
		</header>
		<div class="text"><pre ng-bind-html="quest.data.description"></pre></div>
	</section>
	<div class="row">
		<section class="metadata">
			<dl>
				<dt ng-if="quest.data.deadline">Deadline:</dt>
				<dd ng-if="quest.data.deadline">{{quest.data.deadline}}</dd>
			</dl>
		</section>
	</div>
	<div class="row">
		<section class="journal col-50">
			<header>
				<h3>JOURNAL:</h3>
				<button class="right-button header-button" ng-class="writeLock.writing ? 'disabled' : ''" ng-click="writeJournal()">Escribir</button>
			</header>
			<ul class="journal">
				<li ng-repeat="entry in quest.journal">
					<journal-entry entry="entry" write-lock="writeLock" />
				</li>
			</ul>
		</section>
		<section class="tasks col-50">
			<header>
				<h3>TRACK:</h3>
				<div class="right-button">
					<button class="header-button" ng-click="sortTasksDateToggle()">Por Fecha:</button>
					<button class="header-button" ng-class="writeLock.writing ? 'disabled' : ''" ng-click="addTask()">Nueva Tarea</button>
				</div>
			</header>
			<ul class="tasks">
				<li ng-repeat="task in quest.tasks">
					<quest-task task="task" quest="quest" write-lock="writeLock" />
				</li>
			</ul>
		</section>
	</div>
</article>