<article class="quest">
	<h2>{{quest.name}}</h2>
	<section class="description">{{quest.description}}</section>
	<section class="metadata">
		<dl>
			<dt ng-if="quest.deadline">Deadline:</dt>
			<dd ng-if="quest.deadline">{{quest.deadline}}</dd>
		</dl>
	</section>
	<section class="journal">
		<div class="toolbar">
			<button ng-if="!writeLock.writing" ng-click="writeJournal()">Escribir</button>
		</div>
		<div ng-repeat="entry in quest.journal">
			<journal-entry entry="entry" write-lock="writeLock"/>
		</div>
	</section>
</article>