/** COMMON **/
body, pre {
	font-family: 'Roboto', sans-serif;
}

button {
	border: 0;
	padding: 0.5em 1em;

	color: white;
	background-color: #8B8E2A;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

header {
	position: relative;
}

.disabled {
	pointer-events: none;
	background-color: #ddd;
}

.row {
	margin: 0;
	padding: 0;
}

.right-button {
	position: absolute;
	right: 0;
	top: 0;
}

.header-button {
	padding: 14px;
}

.mright1 {
	margin-right: 0.25em;
}

*[ng-click], *[ng-dblclick] {
	cursor: pointer;
	cursor: hand;
}
/** END: COMMON **/;

/** MASTER-DETAIL TEMPLATE **/
.master-detail .frame {
	border: 2px solid black;
}

.master-detail .left .toolbar button {
	width: 100%;
}

.master-detail .left a {
	display: block;
}

.content {
	padding: 0;
}

.pad-whole-1 {
	padding: 1em;
}

.toolbar.black-flat {
	padding: 10px 1em;
	width: 100%;

	background-color: #000;
}
/** END: MASTER-SLAVE TEMPLATE **/

/** LIST **/
.master-list {
	padding: 0;
}

.master-list a {
	padding: 5px 1em;
	text-decoration: none;
}

.master-list a.selected {
	background-color: #000;
	color: #fff;
}
/** END: LIST **/

/** EDIT TEMPLATE **/
.edit.quest form .row {
	margin: 1em 0;
}

.row.right {
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.toolbar.right {
	text-align: right;
}

/** END: EDIT TEMPLATE **/

/** JOURNAL EMBEDDED ENTRIES **/
article.journal-entry textarea {
	width: 100%;
}
/** END: JOURNAL EMBEDDED ENTRIES **/

/** QUEST-DETAIL **/
article.quest ul {
	margin: 0;
	padding: 0;

	list-style-type: none;

	height: 200px;
	overflow: scroll;
	overflow-x: hidden;
}

article.quest ul li {
	list-style: none;
}

article.quest h2, article.quest h3, article.quest h4, article.quest h5 {
	margin: 0;
}
article.quest header {
	padding: 10px 1em;

	background-color: #000;
	color: #fff;
}

article.quest section.description {
	padding: 0;
	background-color: #D5C77D;
}

article.quest section.description header {
	padding-bottom: 0.25em;

	background-color: transparent;
	color: black;
}

article.quest section.description .text {
	padding-bottom: 0.5em;
}

article.quest section.description .text pre {
	overflow: hidden;

	margin: 0;
	padding: 0 0.5em 0 2em;

	line-height: 1.2em;
	height: 3.6em; /** = 1.2 * 3 **/
}

article.quest section.metadata dl {
	margin: 0;
	padding: 0;
}

article.quest section.metadata {
	background-color: #fff;
	color: #fff;
}

article.quest .row {
	margin: 0;
	padding: 0;
}

article.quest section.journal {
	background-color: #B0A87C;
}

article.quest section.journal .toolbar {
	background-color: #000;
	color: #fff;
}

article.quest section article header {
	background-color: transparent;
	color: #000;
	margin: 0;
}

article.quest section.journal article.journal-entry {
	border-bottom: 2px solid #000;
}

article.quest section.journal article.journal-entry .date {
	font-style: italic;
}

article.quest section.journal article.journal-entry .refid {
	font-weight: bold;
}
article.quest section.journal article.journal-entry .text {
	padding: 0 0 1em 2em;
}

article.quest section.journal article.journal-entry p {
	margin: 0;
}

article.quest section.tasks {
	background-color: #D5C77D;
}

article.quest section.tasks header {
	background-color: #555;
}

article.quest section.tasks .toolbar {
	background-color: #D5C77D;
	color: #000;
}
/** END: QUEST-DETAIL **/

/** QUEST-TASK **/
article.quest article.task {
	position: relative;
	padding: 0.5em 1em;
}

article.quest article.task h4 a.status-button {
	margin: 0.5em 1em 0.5em 0;
	padding: 2px 5px;
	border-radius: 3px;
}

article.quest article.task h4 a.status-button.TODO {
	background-color: #613675;
	color: white;
}

article.quest article.reference .body, article.quest article.reference .form {
	margin-left: 3em;
}
/** END: QUEST-TASK **/

/** QUEST FILE **/
article.quest article.file {
	padding: 0.5em;
}

article.quest article.file .icon {
	width: 64px;
	height: 64px;
	float: left;
}

article.quest article.file .icon img {
	width: 100%;
}
/** END: QUEST FILE **/

/** FORMS **/
article.quest .form {
	padding: 0.5em;
}

article.quest .form .row {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
/** END: FORMS **/